fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6
starlette==0.45.3

scikit-learn==1.6.1
pandas==2.2.3
numpy==2.0.2

tensorflow==2.18.0
tensorflow-recommenders==0.7.3

requests==2.32.3
beautifulsoup4==4.12.3
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.1

matplotlib==3.10.0

email-validator==2.1.1

bcrypt==4.1.2

python-jose==3.3.0